*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.tarea-titulo{
  padding: 15px;
  margin-top: 25px;
  color: deepskyblue
}
.form-tarea label{
  padding: 15px;
  margin-top: 15px;
}

.form-tarea input{
  margin: 15px;
  padding: 5px;
  border: 2px solid gray;
}

.btn-tarea{
  background: green;
  color: white;
  padding: 10px;
  height: 30px;
  border: none;
  border-radius: 5%;
  margin-left: 20px;
}

.contenedor-tarea{
  margin: 35px 30px;
  width: 40%;
}

.contenedor-tarea h2{
  color: deepskyblue;
  padding: 10px;
}

.li{
  list-style: none;
  font-size: 20px;
  padding: 15px;
  border-bottom: 2px solid gray;
}

.borrar{
  color: red;
  float: right;
}
